@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Josefin+Sans:ital,wght@0,350;1,350&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --branco: #E7ECEF;
    --azul: #274C77;
    --ciano: #6096BA;
    --marinho: #A3CEF1;
    --fonte-texto: "Josefin Sans", sans-serif;
    --fonte-titulo: "Angkor", serif;
}

.cabecalho {
    background-color: var(--azul);
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;

}

.cabecalho-imagem {
    width: 5%;
    border-radius: 100%;
    margin: 1em;
}

.cabecalho-lista-link {
    text-decoration: none;
    color: var(--marinho);
    margin-right: 1.5em;
    font-size: 1.5em;
}

.escola {
    background-color: var(--ciano);
    color: (var(--branco));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    font-family: var(--fonte-texto);
}

.escola-texto-titulo {
    padding: 24px 0;
    font-family: var(--fonte-titulo);
}

.escola-imagem {
    width: 30%;
}

.estudante-div-fotos {
    width: 80%;
    border-radius: 5%;
}

.estudante-div-icone {
    width: 24px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.estudante-div {
    text-align: center;
}

.estudante {
    background: linear-gradient(#def3f3,#2682fa);
}

.estudante-titulo {
    text-align: center;
    padding: 50px 0;
    font-family: var(--fonte-titulo);
    color: var(--azul);
    font-size: 2em;

}

.div-estudante-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.estudante-div {
    text-align: center;
}

.estudante-div-nome {
    margin: 8px 0;
    font-family: var(--fonte-texto);
    font-size: 1.3em;
}

.rodape {
    background-color: blue;
    text-align: center;
}

.rodape-logo {
    width: 5%;
    border-radius: 100%;
    margin: 1em;
    padding: 12px;
}